{% extends 'shared/layout.html' %}

{% block title %}
	فراموشی کلمه عبور
{% endblock %}

{% block content %}
	<div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="user-width">
                    <div class="user-form">
                        <div class="contact-form">
                            <h2>صفحه فراموشی کلمه عبور</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
{#                                            <input type="text" class="form-control" required="" data-error="Please enter your Username" placeholder="Enter Your Username">#}

                                            {{ forget_form.phone_number.label_tag }}
                                            {{ forget_form.phone_number}}
                                            {{ forget_form.phone_number.errors }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three ">
                                            فراموشی کلمه عبور
                                        </button>
                                        <hr>
                                        <b>
                                              <div class="d-flex justify-content-center"><button class="btn btn-outline-warning"><a href="{% url 'login_form' %}" class="text-decoration-none ">بازگشت</a>
                                    </button></div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}