{% extends 'shared/layout.html' %}

{% block title %}
	صفحه ثبت نام کاربر
{% endblock %}

{% block content %}
	<div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="user-width">
                    <div class="user-form">
                        <div class="contact-form">
                            <h2>هم اکنون ثبت نام کنید</h2>
                            <form action="{% url 'login_form' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
{#                                            <input type="text" class="form-control" required="" data-error="Please enter your Username" placeholder="Enter Your Username">#}

                                            {{ register_form.phone_number.label_tag }}
                                            {{ register_form.phone_number }}
                                            {{ register_form.phone_number.errors }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
{#                                            <input type="text" class="form-control" required="" data-error="Please enter your Username" placeholder="Enter Your Username">#}

                                            {{ register_form.username.label_tag }}
                                            {{ register_form.username }}
                                            {{ register_form.username.errors }}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <div class="form-group">
{#                                            <input type="email" class="form-control" required="" data-error="Please enter your Username or Email" placeholder="Enter Your Email">#}
                                            {{ register_form.password.label_tag }}
                                            {{ register_form.password }}
                                            {{ register_form.password.errors }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
{#                                            <input class="form-control" type="password" name="password" placeholder="Password">#}
                                            {{ register_form.confirm_password.label_tag }}
                                            {{ register_form.confirm_password }}
                                            {{ register_form.confirm_password.errors }}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three">
                                            ثبت نام
                                        </button>
                                        <hr>
                                        <b>
                                        <div class="d-flex justify-content-center"><button class="btn btn-outline-warning"><a href="{% url 'login_form' %}" class="text-decoration-none ">ورود</a>
                                    </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}