{% extends 'shared/layout.html' %}

{% block title %}
	صفحه احراز هویت
{% endblock %}

{% block content %}
	<div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="user-width">
                    <div class="user-form">
                        <div class="contact-form">
                            <h2>صفحه فراموشی کلمه عبور</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
{#                                            <input type="text" class="form-control" required="" data-error="Please enter your Username" placeholder="Enter Your Username">#}
                                            {{ form.code.label_tag }}
                                            {{ form.code  }}
                                            {{ form.code.errors }}

                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three ">
                                            ارسال کد
                                        </button>
                                        <hr>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}