  <script src="/static/header_footer/js/jquery.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="/static/header_footer/js/bootstrap.bundle.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="/static/header_footer/js/owl.carousel.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="/static/header_footer/js/jquery.nice-select.min.js"></script>
        <!-- Wow Min JS -->
        <script src="/static/header_footer/js/wow.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="/static/header_footer/js/meanmenu.js"></script>
        <!-- Jquery Ui Min JS -->
        <script src="/static/header_footer/js/jquery-ui.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="/static/header_footer/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/static/header_footer/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="/static/header_footer/js/contact-form-script.js"></script>
        <!-- Mixitup Min JS -->
        <script src="/static/header_footer/js/mixitup.min.js"></script>
        <!-- Custom JS -->
        <script src="/static/header_footer/js/custom.js"></script>