 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap RTL CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/bootstrap.rtl.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/animate.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="/static/header_footer/fonts/flaticon.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/boxicons.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/header_footer/css/owl.theme.default.min.css">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/nice-select.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/meanmenu.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/responsive.css">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/theme-dark.css">
        <!-- RTL CSS -->
        <link rel="stylesheet" href="/static/header_footer/css/rtl.css">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/static/header_footer/images/favicon.png">