<div class="navbar-area sticky-nav">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav mean-container"><div class="mean-bar"><a href="#nav" class="meanmenu-reveal" style="background:;color:;right:0;left:auto;"><span><span><span></span></span></span></a><nav class="mean-nav">
                            <ul class="navbar-nav m-auto" style="display: none;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        Home
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">
                                                Home One
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">
                                                Home Two
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link active">
                                                Home Three
                                            </a>
                                        </li>
                                    </ul>
                                <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Pages
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">
                                                About
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Shop
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li class="nav-item">
                                                    <a href="shop-details.html" class="nav-link">
                                                        Shop Details
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="shop-details-left-sidebar.html" class="nav-link">
                                                        Shop Details Left Sidebar
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="shop-details-right-sidebar.html" class="nav-link">
                                                        Shop Details Right Sidebar
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="tracking-order.html" class="nav-link">
                                                        Tracking Order
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="customer-services.html" class="nav-link">
                                                        Customer Services
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="compare.html" class="nav-link">
                                                        Compare
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="cart.html" class="nav-link">
                                                        Cart
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="checkout.html" class="nav-link">
                                                        Checkout
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="wishlist.html" class="nav-link">
                                                        Wishlist
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="my-account.html" class="nav-link">
                                                        My Account
                                                    </a>
                                                </li>
                                            </ul>
                                        <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                FAQ
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">
                                                Team
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                Testimonials
                                            </a>
                                        </li>



                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                Terms &amp; Conditions
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                Privacy Policy
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">
                                                404 page
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="search-page.html" class="nav-link">
                                                Search Page
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">
                                                Coming Soon
                                            </a>
                                        </li>
                                    </ul>
                                <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Shop
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li class="nav-item">
                                            <a href="shop-left-sidebar.html" class="nav-link">
                                                Shop Left Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-right-sidebar.html" class="nav-link">
                                                Shop Right Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-grid.html" class="nav-link">
                                                Shop Grid
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-full-width-sidebar.html" class="nav-link">
                                                Shop Full Width Sidebar
                                            </a>
                                        </li>
                                    </ul>
                                <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li class="nav-item">
                                            <a href="blog-1.html" class="nav-link">
                                                Blog Style One
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-2.html" class="nav-link">
                                                Blog Style Two
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">
                                                Blog Details
                                            </a>
                                        </li>
                                    </ul>
                                <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </nav></div>
                <a href="index.html" class="logo">
                    <img src="/static/header_footer/images/logos/logo-1.png" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav nav-three">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="index.html">
                            <img src="/static/header_footer/images/logos/logo-2.png" class="logo-one" alt="Logo">
                            <img src="/static/header_footer/images/logos/logo-1.png" class="logo-two" alt="Logo">
                        </a>

                        <div class="mean-push"></div><div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: none;">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        خانه
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
{#                                    <ul class="dropdown-menu">#}
{#                                        <li class="nav-item">#}
{#                                            <a href="index.html" class="nav-link">#}
{#                                                Home One#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a href="index-2.html" class="nav-link">#}
{#                                                Home Two#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a href="index-3.html" class="nav-link active">#}
{#                                                Home Three#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    </ul>#}
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Pages
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">
                                                About
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Shop
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="shop-details.html" class="nav-link">
                                                        Shop Details
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="shop-details-left-sidebar.html" class="nav-link">
                                                        Shop Details Left Sidebar
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="shop-details-right-sidebar.html" class="nav-link">
                                                        Shop Details Right Sidebar
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="tracking-order.html" class="nav-link">
                                                        Tracking Order
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="customer-services.html" class="nav-link">
                                                        Customer Services
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="compare.html" class="nav-link">
                                                        Compare
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="cart.html" class="nav-link">
                                                        Cart
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="checkout.html" class="nav-link">
                                                        Checkout
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="wishlist.html" class="nav-link">
                                                        Wishlist
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="my-account.html" class="nav-link">
                                                        My Account
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                FAQ
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">
                                                Team
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                Testimonials
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                User
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="log-in.html" class="nav-link">
                                                        Log In
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">
                                                        Registration
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="forget-password.html" class="nav-link">
                                                        Forget Password
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                Terms &amp; Conditions
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                Privacy Policy
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">
                                                404 page
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="search-page.html" class="nav-link">
                                                Search Page
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">
                                                Coming Soon
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Shop
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop-left-sidebar.html" class="nav-link">
                                                Shop Left Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-right-sidebar.html" class="nav-link">
                                                Shop Right Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-grid.html" class="nav-link">
                                                Shop Grid
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-full-width-sidebar.html" class="nav-link">
                                                Shop Full Width Sidebar
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog-1.html" class="nav-link">
                                                Blog Style One
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-2.html" class="nav-link">
                                                Blog Style Two
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">
                                                Blog Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact
                                    </a>
                                </li>

                                  <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        User
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{% url 'register_form' %}" class="nav-link">
                                                Register
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-2.html" class="nav-link">
                                                Log In
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">
                                                Forget password
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="nav-bar-side-2">
                                <div class="language-nav-list">
                                    <select class="language-list-item" style="display: none;">
                                        <option>English</option>
                                        <option>العربيّة</option>
                                        <option>Deutsch</option>
                                        <option>Português</option>
                                        <option>简体中文</option>
                                    </select><div class="nice-select language-list-item" tabindex="0"><span class="current">English</span><ul class="list"><li data-value="English" class="option selected">English</li><li data-value="العربيّة" class="option">العربيّة</li><li data-value="Deutsch" class="option">Deutsch</li><li data-value="Português" class="option">Português</li><li data-value="简体中文" class="option">简体中文</li></ul></div>
                                </div>
                                <div class="side-nav-cart">
                                    <a href="#"><i class="bx bx-cart"></i></a>
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>

{#                    <div class="container-3 active">#}
{#                        <div class="side-nav-inner">#}
{#                            <div class="side-nav justify-content-center align-items-center">#}
{#                                <div class="side-nav-item">#}
{#                                    <div class="language-on-list">#}
{#                                        <select class="language-list-item" style="display: none;">#}
{#                                            <option>English</option>#}
{#                                            <option>العربيّة</option>#}
{#                                            <option>Deutsch</option>#}
{#                                            <option>Português</option>#}
{#                                            <option>简体中文</option>#}
{#                                        </select><div class="nice-select language-list-item" tabindex="0"><span class="current">English</span><ul class="list"><li data-value="English" class="option selected">English</li><li data-value="العربيّة" class="option">العربيّة</li><li data-value="Deutsch" class="option">Deutsch</li><li data-value="Português" class="option">Português</li><li data-value="简体中文" class="option">简体中文</li></ul></div>#}
{#                                    </div>#}
{##}
{#                                    <div class="side-nav-cart">#}
{#                                        <a href="#"><i class="bx bx-cart"></i></a>#}
{#                                        <span>1</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
